<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>grub</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="../main.css">
</head>
<body>
        <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="/">
                        <img src="../grub_logo.png" width="60" height="60" alt="">
                      </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarSupportedContent">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collpase navbar-collapse" id="navBarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                  <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="/app">Grub Spots</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="/sessions/new">Log in</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link disabled" href="/users/new">Register</a>
                                </li>
                                
                              </ul>
                </div>
                
              </nav>
              <div class="grub-spots">
                    <img src="../grub_spots.png">
                </div>
              
              <div class="card">
            <div class="card-body">
                    <h5 class="card-title"><%=restaurant.name %></h5>
                    <p class="card-text"><%=restaurant.city %> <%=restaurant.state %></p>
                    <h6 class="card-subtitle mb-2 text-muted"><%=restaurant.cost %></h6>
                    <p class="card-text"><%=restaurant.attire %></p>
                    <p><%=restaurant.description %></p>

                    <a href="/app/<%=restaurant.id%>/edit"class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Update</a>
                    <a href="/app" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Back to grub spots</a>

                    
            </div>
              </div>
                 
           
    
    
</body>
</html>